* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', "Roboto Light", Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #171414;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
    overflow: scroll;
}


/*Start of Menu Place Holder*/

.menu-wrapper {
    z-index: 1003;
    position: fixed;
    display: flex; /* Ensures child elements are aligned properly */
    align-items: center;
    justify-content: center;
    top: 3.2%; /* Adjust to desired position */
    left: 29.6rem; /* Center horizontally */
    transform: translateX(-50%); /* Center alignment adjustment */
    width: 100px;
    height: 30px;
    transition: all 0.2s ease-in;
}

.menu-background {
    opacity: 0.65;
    position: absolute;
    bottom: 0; /* Aligns the element correctly within the wrapper */
    left: 0; /* Reset left position */
    width: 100%; /* Matches the wrapper width */
    height: 100%; /* Matches the wrapper height */
    z-index: 1003; /* Slightly below the wrapper */
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: opacity 0.4s ease-in;
}

.menu-background:hover {
    opacity: 1; /* Fully visible on hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}


.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 1rem;
}

/*End of Transparent Place Holder*/



.image-gradient2 {

    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;

}

.layer-blur2 {
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    opacity: 100%;
    box-shadow: 0 0 700px 15px white;
    transform: rotate(-30deg);
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    z-index: -1;
}


/* Container */
.clubContainer{
    width: 100%;
    margin-left: 0;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}

header {
    top: -3%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
    background: rgba(23, 20, 20, 0.25);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.07);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}
.header-scrolled{
    z-index: 1000;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background: rgba(23, 20, 20, 0.25);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

}

/*
Bizzdom logo
 */
header{
    position: fixed;
    top: 0;
    left: 0;
}
.logo{
    font-family: "Baskerville Old Face",sans-serif;
    top: 10%;
    letter-spacing: 0.08rem;
    transition: 0.4s ease-in-out;
    text-decoration: none;
    font-size: 2em;
    color: #c5a876;
    text-shadow: 0 0 35px navajowhite;
}

.logo:hover{
    text-shadow: 0 0 20px navajowhite;
}
.menu{
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 10px navajowhite;
    color: #f7e7ce;
}
.members{
    top: 1.6rem;
    font-family: "Altone Trial",sans-serif;
    color: inherit;
    font-size: 1.02rem;
    position: fixed;
    left: 55%;
    text-decoration: none;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease-in-out;
}
.members:hover{
    color: #dbcb89;
    text-shadow: 0 0 12px #dbcb89;
}

.club{
    top: 1.6rem;
    font-family: "Altone Trial",sans-serif;
    color: gold;
    font-size: 1.02rem;
    position: fixed;
    left: 33%;
    text-decoration: none;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease-in-out;
}
.club:hover{
    color: #dbcb89;
    text-shadow: 0 0 12px #dbcb89;
}

.resources{
    top: 1.6rem;
    font-family: "Altone Trial",sans-serif;
    color: inherit;
    font-size: 1.02rem;
    position: fixed;
    left: 40%;
    text-decoration: none;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease-in-out;
}
.resources:hover{
    color: #dbcb89;
    text-shadow: 0 0 12px #dbcb89;
}

.events{
    top: 1.6rem;
    font-family: "Altone Trial",sans-serif;
    color: inherit;
    font-size: 1.02rem;
    position: fixed;
    left: 47%;
    text-decoration: none;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease-in-out;
}
.events:hover{
    color: #dbcb89;
    text-shadow: 0 0 12px #dbcb89;
}

.btn-signing {
    position: fixed;
    right: 1.5rem;
    background-color: #a7a7a7;
    color: black;
    font-family: "Altone Trial",sans-serif;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.4s ease-in-out;
    cursor: pointer;
    z-index: 999;
}

.btn-signing:hover {
    transition: 0.4s ease-in-out;
    background-color: #ffffff;
    box-shadow: 0 1px 28px rgba(255,255,255,0.4);
}
.btn-signing-scrolled{
    transition: 0.3s ease-in-out;
    box-shadow: 0 1px 20px rgba(255,255,255,0.4);
}





.workplace-box spline-viewer {
    width: 100%;
    height:100vh;
}
.workplace-box {
    will-change: opacity, transform;
    position: fixed;
    top: 10%; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    width: 100%; /* Prevent shrinking by setting a percentage width */ /* Limit maximum width */
    height: 100%; /* Allow content to define height */
    z-index: 1000; /* Ensure it appears above other elements */
    transition: none; /* Remove animations during initial render */
}
.workplace{
    position: relative;
    transform: scale(1.2);
}





@media (max-width: 1200px) {
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        z-index: 1000;
        background: rgba(23, 20, 20, 0.25);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
        height: 100px;
    }
    nav{
    }

    .logo{
        position: relative;
        top: -10%;
        left: -1.8rem;
    }

    .club{
        position: absolute;
        top: 65%;
        left: 0;
        margin-left: 2rem;
        font-family: "Altone Trial", sans-serif;
        color: gold;
        font-size: 1.02rem;
        text-decoration: none;
        letter-spacing: 0.1rem;
        transition: color 0.2s ease-in-out;
    }
    .resources{
        position: absolute;
        top: 65%;
        left: 20%;
        margin-left: 2rem;
        font-family: "Altone Trial", sans-serif;
        color: inherit;
        font-size: 1.02rem;
        text-decoration: none;
        letter-spacing: 0.1rem;
        transition: color 0.2s ease-in-out;
    }
    .events{
        position: absolute;
        top: 65%;
        left: 40%;
        margin-left: 2rem;
        font-family: "Altone Trial", sans-serif;
        color: inherit;
        font-size: 1.02rem;
        text-decoration: none;
        letter-spacing: 0.1rem;
        transition: color 0.2s ease-in-out;
    }
    .members{
        position: absolute;
        top: 65%;
        left: 63%;
        margin-left: 2rem;
        font-family: "Altone Trial", sans-serif;
        color: inherit;
        font-size: 1.02rem;
        text-decoration: none;
        letter-spacing: 0.1rem;
        transition: color 0.2s ease-in-out;
    }
    .btn-signing{
        padding :0.6rem;
        font-family: "Altone Trial", serif;
        top: 18%;
    }
}